{% extends "base.html" %}
{% load static %}
{% block page_content %}
<head>
  <title>{{ type }}</title>
  <script type="text/javascript">
    var conversion_table = {};

    {% for unit in units %}
      conversion_table['{{ unit.unit }}'] = {'multiplier': {{ unit.to_base_multiplier }}, 'adder': {{ unit.to_base_adder }}}
    {% endfor %}

    function convertNumber(inputLocation) {
      var sourceSelector = document.getElementById("sourceDropdownMenuButton");
      var destinationSelector = document.getElementById("destinationDropdownMenuButton");
      if (sourceSelector.value != "none" && destinationSelector.value != "none")
      {
        var sourceField = document.getElementById("sourceInput");
        var destinationField = document.getElementById("destinationInput");


        var sourceMultiplier = conversion_table[sourceSelector.value]['multiplier']
        var sourceAdder = conversion_table[sourceSelector.value]['adder']
        var destinationMultiplier = conversion_table[destinationSelector.value]['multiplier']
        var destinationAdder = conversion_table[destinationSelector.value]['adder']

        console.log(sourceMultiplier, sourceAdder)
        console.log(destinationMultiplier, destinationAdder)
        console.log(sourceField.value + sourceAdder)

        if (inputLocation == "source") {
          destinationField.value = ((parseInt(sourceField.value) + sourceAdder) * sourceMultiplier / destinationMultiplier) - destinationAdder;
        }
        else if (inputLocation == "destination") {
          console.log("destination")
          sourceField.value = ((parseInt(destinationField.value) + destinationAdder) * destinationMultiplier / sourceMultiplier) - sourceAdder;
        }
      }

    }

  </script>
  <style>
    .btn-secondary {
      width: 200px;
      height: 50px;
    }
    .numberInput {
      width: 200px;
      height:50px;
      padding-bottom: 6px;
    }
  </style>
</head>
<h1>{{ type }} conversion </h1>
<h4>The base unit used for this conversion is: {{ base_unit }} </h4>
{% if type == "Currency" %}
<h5>Last update of currency exchange: {{ last_updated }}</h5>
{% endif %}
<div class="row">
<form method="POST">
  {% csrf_token %}
  {{ unit_converter.source_value }}
<div class="btn-group">
<button class="btn btn-secondary dropdown-toggle" type="button" id="sourceDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="none">
    Choose a unit
  </button>
  <div class="dropdown-menu" aria-labelledby="sourceDropdownMenuButton">
{% for unit in units %}
  {% if unit.abbreviation == "n/a" %}
    <a class="dropdown-item">{{ unit.unit }}</a>
  {% else %}
    <a class="dropdown-item">{{ unit.unit }} - {{ unit.abbreviation }}</a>
  {% endif %}
{% endfor %}
  </div>
</div>
=
{{ unit_converter.destination_value }}
<div class="btn-group">
<button class="btn btn-secondary dropdown-toggle " type="button" id="destinationDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="none">
    Choose a unit
  </button>
  <div class="dropdown-menu" aria-labelledby="destinationDropdownMenuButton">
{% for unit in units %}
    <a class="dropdown-item">{{ unit.unit }}</a>
{% endfor %}
  </div>
</div>

<button type="submit" class="btn btn-primary">Add it to your search history</button>
</form>
</div>
<script type="text/javascript">
  $('.dropdown-item').on('click',  function(){
        var btnObj = $(this).parent().siblings('button');
        $(btnObj).text($(this).text());
        $(btnObj).val($(this).text());
    });
</script>
{% endblock %}
